/* .parent {
    background-color: aqua;
    height: 400px;
    width: 400px;
}

.child {
    background-color: blueviolet;
    height: 50%;
    width: 50%;
    transition: transform 300ms ease-in;
}

.parent:hover .child {
    transform: translateX(100%);
} */